<table align="center" class="dashboard"><tr>
<th colspan="2" style="text-align: center;font-weight: bold;text-decoration: underline; font-size:40px">Aggregate Dashboard</th></tr>
<tr><td width="700"><app-cylinderCharts [data]="aggTopData"></app-cylinderCharts></td>
<td width="700"><app-floatingbarchart [data]="aggBottomData"></app-floatingbarchart></td></tr></table>
<br>
<div align="center"><input type="button" class="fadeIn fourth" (click)=back() value="Back"/>
<input type="button" class="fadeIn fourth" (click)=home() value="Home"/></div>
