
<table align="center" class="dashboard"><tr>
  <th colspan="3" style="text-align: center;font-weight: bold;text-decoration: underline; font-size:40px">Star Rating Dashboard</th></tr>
  <tr>
    <th>Health Organizations</th>
    <th>Time Frame<br/>(2019)</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td>REGENTS OF THE UNIVERSITY OF CALIFORNIA - UCSD MEDICAL GROUP</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star4.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>STANFORD HEALTH CARE</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star5.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>KANSAS CITY UROLOGY CARE PA</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star4.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>HEARTLAND REGIONAL MEDICAL CENTER</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star5.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>LESTER E COX MEDICAL CENTERS</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star4.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>SOUTHEAST MISSOURI HOSPITAL PHYSICIANS LLC</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star4.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>AMERICAN MULTISPECIALTY GROUP INC</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star4.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>JEFFERSON CITY MEDICAL GROUP, PC</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star5.jpg" height="49" width="20"/></div></td>
  </tr>
  <tr>
    <td>WASHINGTON UNIVERSITY</td>
    <td>Q1-Q4</td>
    <td><div class="row banner">
      <img class="col-md-12" src="./assets/star3.jpg" height="49" width="20"/></div></td>
  </tr>
</table>

<div align="center">
  <input type="button" class="fadeIn fourth" (click)=aggdash() value="Aggregate Dashboard">
  <input type="button" class="fadeIn fourth" (click)=home() value="Home"/>
</div>

